body {
  background-color: antiquewhite;
}

h1 {
  align-items: center;
  text-align: center;
}

h3 {
  align-items: center;
  margin-left: 60%;
}

.prop {
  align-items: center;
  text-align: center;
}
h2 {
  align-items: center;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}
